.button{
  background-color: rgb(158, 165, 165); 
  color: rgb(10, 10, 10);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 10px;
  margin-top: 25px;
  margin-left: 10px;
}

  .button:hover {
    background-color: #cb623f;
    color: rgb(12, 12, 12);
  }
  
  .div{
    margin: auto;
    text-align: center;
  }