.form{
    width: 420px;
    height: 880px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 40px;
    background: #e6e6e6;
    border-radius:8px;
    box-shadow:0 0 40px -10px #000;
    padding:20px 30px;
    max-width:calc(100vw - 40px)
}

.h2{
    margin:10px 0;
    padding-bottom:10px;
    width:380px;
    color:#78788c;
    border-bottom:3px solid #78788c
}

.input{
    width:100%;
    padding:10px;
    box-sizing:border-box;
    background:none;
    outline:none;
    resize:none;
    border:0;
    font-size: 20px;
    font-family:'Montserrat',sans-serif;transition:all .3s;border-bottom:2px solid #bebed2
}

.ipnut:focus{
    border-bottom:2px solid #78788c
}

.labe{
    color: #333333;;
}

.labe::before{
   content:attr(type);
   display:block;
   margin:28px 0 0;
   font-size:14px;
   color:#5a5a5a
}

.button{
    font-size: 18px;
    float:right;
    padding:8px 18px;
    margin:8px 0 0;
    font-family:'Montserrat',sans-serif;
    border:2px solid #78788c;
    background:0;color:#5a5a6e;
    cursor:pointer;
    border-radius: 10px;
    transition:all .3s
   
}

.button:hover{
    background:#cb623f;
    color:#fff
}

.button1{
    font-size: 18px;
    float:left;
    padding: 8px 15px;
    margin:8px 0 0;
    font-family:'Montserrat',sans-serif;
    border:2px solid #78788c;
    background:0;color:#5a5a6e;
    cursor:pointer;
    border-radius: 10px;
    transition:all .3s
}

.button1:hover{
    background:#4bf459;
    color:#fff
}

.div{
    background-color: #6dc3f4;
    padding-top:10px;
    padding-bottom:140px;
}


.Button{
   width: 400px;
   height: 30px;
   color: rgb(7, 7, 7);
   border-radius: 4px;
   border:2px solid #78788c;
   font-size: 20px;

}

.Option{
    background-color: #e6e6e6;;
    list-style-type: none;
}

.Option:hover{
    background:#4bf459;
    color:rgb(8, 8, 8)
}